{% extends 'base_auth.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xs-12 col-sm-6 align-self-center">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <img src="{% static 'default/logo02.png' %}" class="img-responsive" style="max-height: 180px;"/>
                        </div>
                        <div class="panel-body">
                            <br/>
                            <h3 class="panel-title text-center">Login</h3>
                            <form accept-charset="UTF-8" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Usuario</label>
                                        {{ form.username }}
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        {{ form.password }}
                                    </div>
                                    <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
                                </fieldset>
                            </form>
                            <hr/>
                            <center><h4>OU</h4></center>
                            <a class="btn btn-lg btn-primary btn-block" href="{% url 'register' %}">Registrar</a>
                            {#                            <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook">#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $('input').addClass('form-control');
        });
    </script>
{% endblock %}
