{% extends 'base.html' %}
{% load form_utils %}
{% load static %}
{% block content %}
    <script src="{% static 'tone/Tone.min.js' %}"></script>
    <div id="content" class="row">
        <div class="col-12 col-sm-12">
            <div class="jumbotron jumbotron-fluid bg-transparent">
                <div class="container secondary-color text-center">
                    <img class="img-responsive" style="max-height: 300px;"
                         src="{{ track.thumb }}"/>
                </div>
                <br/>
                <div class="container secondary-color">
                    <h3 class="display-5">{{ track.artist }} - {{ track.title }}</h3>
                </div>
                <br/>
                <div class="container">
                    <div class="row" id="player">
                        <div class="col-1 col-xs-1">
                            <div class="form-inline pull-right">
                                <button class="btn btn-success rounded-circle disabled" id="play"><i
                                        class="fa fa-play"></i></button>
                                <button class="btn btn-secondary rounded-circle" id="pause"><i class="fa fa-pause"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-9 col-xs-9">
                            <div class="form-inline" style="margin-top: 8px;">
                                <input type="range" class="form-control-range" id="player_range" value="0" min="0">
                            </div>
                        </div>
                        <div class="col-1 col-xs-1">
                            <div class="form-inline" style="margin-top: 8px;">
                                <label class="" id="timer">00:00</label>
                            </div>
                        </div>
                        <div class="col-1 col-xs-1">
                            <div class="form-inline">
                                <a href="{{ track.source_file.file_url }}" target="_blank"
                                   class="btn btn-info">
                                    Download <i class="fa fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <a href="{% url 'index' %}" class="btn btn-secondary">
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'loader.html' %}

    <script type="text/javascript">
        $('#content').hide();
        $('#loader').show();
        var interval = 0;
        var isPlaying = false;
        var durationSeconds = 0;
        var secondsElapsed = 0;
        var player = new Tone.Player({
            url: '{{ track.source_file.file_url }}',
            name: '{{ track.id }}',
            fadeOut: '4n',
            onload: function (evt) {
                console.log(evt);
                $('#play').removeClass('disabled');
                $('#loader').hide();
                $('#content').show();
            }
        }).sync().start(0, 0).toDestination();

        function zeroPadNumber(number) {
            return number < 10 ? '0' + number : number.toString();
        }

        function formatTime(seconds) {
            if (typeof seconds === 'number') {
                seconds = Math.floor(seconds);
                if (seconds > 0) {
                    const m = Math.floor(seconds / 60);
                    const s = Math.floor(seconds - m * 60);
                    return zeroPadNumber(m) + ':' + zeroPadNumber(s);
                }
            }
            return '00:00';
        }

        function seeking(seconds) {
            clearInterval(interval);
            secondsElapsed = seconds;
            $('#timer').text(formatTime(secondsElapsed));
            Tone.Transport.seconds = seconds;
            interval = setInterval(() => {
                onUpdate();
            }, 200);
        }

        function onUpdate() {
            durationSeconds = player.buffer.duration;
            secondsElapsed = Math.min(durationSeconds, Tone.Transport.seconds);

            if (secondsElapsed === durationSeconds) {
                Tone.Transport.stop();
            }
            isPlaying = Tone.Transport.state === 'started';

            $('#player_range').val(Math.floor(secondsElapsed));
            $('#timer').text(formatTime(secondsElapsed));

            if (!isPlaying) {
                clearInterval(interval);
            }
        }

        $(document).ready(function () {
            $('#home_link').addClass('active');
            $('#pause').hide();

            $('#player_range').on('change', function (obj) {
                seeking(parseInt(obj.target.value));
            });

            $('#play').click(function () {
                isPlaying = true;
                durationSeconds = player.buffer.duration;
                $('#player_range').attr('max', durationSeconds);
                $('#pause').show();
                $('#play').hide();
                Tone.Transport.start();
                interval = setInterval(() => {
                    onUpdate();
                }, 100);
            });

            $('#pause').click(function () {
                isPlaying = false;
                Tone.Transport.stop();
                $('#play').show();
                $('#pause').hide();
                clearInterval(interval);
            });


        });

    </script>

{% endblock %}
