{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'default/css/drumpad.css' %}">
    <br/>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Drums Kit</h2>
        </div>
    </div>
    <br/>
    <div id="drum-pad">

        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad1)">
                    <div id="pad1" class="pad-text ">
                        {#                        <div class="pad-name">kick</div>#}
                        <span>Q</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad2)">
                    <div id="pad2" class="pad-text">
                        <span>W</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad3)">
                    <div id="pad3" class="pad-text">
                        <span>E</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad4)">
                    <div id="pad4" class="pad-text">
                        <span>A</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad5)">
                    <div id="pad5" class="pad-text">
                        <span>S</span>
                    </div>
                </div>

            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">

                <div class="btn btn-secondary btn-block" onclick="tap(pad6)">
                    <div id="pad6" class="pad-text">
                        <span>D</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad7)">
                    <div id="pad7" class="pad-text">
                        <span>Z</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad8)">
                    <div id="pad8" class="pad-text">
                        <span>X</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad9)">
                    <div id="pad9" class="pad-text">
                        <span>C</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad10)">
                    <div id="pad10" class="pad-text">
                        <span>F</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad11)">
                    <div id="pad11" class="pad-text">
                        <span>G</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block" onclick="tap(pad12)">
                    <div id="pad12" class="pad-text">
                        <span>V</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'default/js/Tone.js' %}"></script>
    <script>
        $('#drumkit').addClass('active');
        var pad1 = new Tone.Player({
            "url": "{% static 'drums/kick.mp3' %}",
            // "loop": true
        }).toMaster();
        pad1.id = "pad1";

        var pad2 = new Tone.Player({
            "url": "{% static 'drums/snare.mp3' %}",
            // "loop": true
        }).toMaster();
        pad2.id = "pad2";

        var pad3 = new Tone.Player({
            "url": "{% static 'drums/hat.mp3' %}",
            // "loop": true
        }).toMaster();
        pad3.id = "pad3";

        var pad4 = new Tone.Player({
            "url": "{% static 'drums/tom.mp3' %}",
            // "loop": true
        }).toMaster();
        pad4.id = "pad4";

        var pad5 = new Tone.Player({
            "url": "{% static 'drums/stick.mp3' %}",
            // "loop": true
        }).toMaster();
        pad5.id = "pad5";

        var pad6 = new Tone.Player({
            "url": "{% static 'drums/maracas.mp3' %}",
            // "loop": true
        }).toMaster();
        pad6.id = "pad6";

        var pad7 = new Tone.Player({
            "url": "{% static 'drums/clav.mp3' %}",
            // "loop": true
        }).toMaster();
        pad7.id = "pad7";

        var pad8 = new Tone.Player({
            "url": "{% static 'drums/conga.mp3' %}",
            // "loop": true
        }).toMaster();
        pad8.id = "pad8";

        var pad9 = new Tone.Player({
            "url": "{% static 'drums/cowbell.mp3' %}",
            // "loop": true
        }).toMaster();
        pad9.id = "pad9";

        var pad10 = new Tone.Player({
            "url": "{% static 'drums/cowbell.mp3' %}",
            // "loop": true
        }).toMaster();
        pad10.id = "pad10";

        var pad11 = new Tone.Player({
            "url": "{% static 'drums/cowbell.mp3' %}",
            // "loop": true
        }).toMaster();
        pad11.id = "pad11";

        var pad12 = new Tone.Player({
            "url": "{% static 'drums/cowbell.mp3' %}",
            // "loop": true
        }).toMaster();
        pad12.id = "pad12";
    </script>
    <script src="{% static 'default/js/drumpad.js' %}"></script>

{% endblock %}
