{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'default/css/drumpad.css' %}">
    <br/>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Worship Pads</h2>
        </div>
    </div>
    <br/>
    <div id="worship-pad">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad1 disabled" onclick="controlPad('pad1')">
                    <div id="pad1" class="pad-text">
                        <span>C</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad2 disabled" onclick="controlPad('pad2')">
                    <div id="pad2" class="pad-text">
                        <span>C#</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad3 disabled" onclick="controlPad('pad3')">
                    <div id="pad3" class="pad-text">
                        <span>D</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad4 disabled" onclick="controlPad('pad4')">
                    <div id="pad4" class="pad-text">
                        <span>D#</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad5 disabled" onclick="controlPad('pad5')">
                    <div id="pad5" class="pad-text">
                        <span>E</span>
                    </div>
                </div>

            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">

                <div class="btn btn-secondary btn-block pad6 disabled" onclick="controlPad('pad6')">
                    <div id="pad6" class="pad-text">
                        <span>F</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad7 disabled" onclick="controlPad('pad7')">
                    <div id="pad7" class="pad-text">
                        <span>F#</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad8 disabled" onclick="controlPad('pad8')">
                    <div id="pad8" class="pad-text">
                        <span>G</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad9 disabled" onclick="controlPad('pad9')">
                    <div id="pad9" class="pad-text">
                        <span>G#</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad10 disabled" onclick="controlPad('pad10')">
                    <div id="pad10" class="pad-text">
                        <span>A</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad11 disabled" onclick="controlPad('pad11')">
                    <div id="pad11" class="pad-text">
                        <span>A#</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pad">
                <div class="btn btn-secondary btn-block pad12 disabled" onclick="controlPad('pad12')">
                    <div id="pad12" class="pad-text">
                        <span>B</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <script src="{% static 'default/js/Tone.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.38/Tone.min.js"
            integrity="sha512-iUyp9LQQhTRqbYNFyupy/BLJYtN6i7hPPatZmMMWSvqcsaVgIwqoKK4Irn2PO/uek24gs1+w+j7z0pcJEZenIQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('#padkit').addClass('active');
        $('#loading').show();
        var padSamples = new Tone.Players({
            "urls":{
                pad1: "https://dl.dropboxusercontent.com/s/l7hw16rn8a53vy1/c.m4a",
                pad2:"https://dl.dropboxusercontent.com/s/8dh5xlf6y9q82es/csus.m4a",
                pad3: "https://dl.dropboxusercontent.com/s/t4cshdx0ofpj50b/d.m4a",
                pad4: "https://dl.dropboxusercontent.com/s/nkmwp0v0x9xqeqo/dsus.m4a",
                pad5: "https://dl.dropboxusercontent.com/s/slzc8xfsqq9uyov/e.m4a",
                pad6: "https://dl.dropboxusercontent.com/s/12v05cvm23dvwu9/f.m4a",
                pad7: "https://dl.dropboxusercontent.com/s/br55k1ekbyx2sbo/fsus.m4a",
                pad8: "https://dl.dropboxusercontent.com/s/fqxm3xsvu3281cj/g.m4a",
                pad9: "https://dl.dropboxusercontent.com/s/suhsxnf96ek4e00/gsus.m4a",
                pad10: "https://dl.dropboxusercontent.com/s/uicc62ooows8v0o/a.m4a",
                pad11: "https://dl.dropboxusercontent.com/s/ea4mq99i6jfwbiw/asus.m4a",
                pad12: "https://dl.dropboxusercontent.com/s/67hworai3uj6cnf/b.m4a"
            },
            "loop": true,
            "fadeIn": '4n',
            "fadeOut": '4n',
            "onload": function () {
                $('.pad>div').removeClass('disabled');
                $('#loading').hide();
            }
        }).toDestination();

    </script>
    <script src="{% static 'default/js/pad_continuous.js' %}"></script>

{% endblock %}
