{% extends 'base_site.html' %}
{% load static %}
{% block content %}
    <section class="page-section bg-black">
        <div class="container">
            <h1 class="text-uppercase mb-0 text-center text-white">Política de Cookies</h1>
            <hr class="primary small mb-4">
        </div>
    </section>
    <!-- * * * * * * * * * * * * * *-->
    <!-- * Terms *-->
    <!-- * * * * * * * * * * * * * *-->
    <section class="page-section bg-light" id="info">
        <div class="container-fluid">
            <p class="lead">Em vigor a partir de 06 de abril de 2022</p>
            <hr class="primary small mb-5">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <p><span>Olá, e bem-vindo à Política de Cookies do Help Musician (“Política”).</span></p>
                    <p><span>O objetivo desta Política é fornecer a você, como usuário dos serviços do Help Musician, informações claras e acessíveis sobre os cookies que o Help Musician usa, o papel que desempenham em ajudar-nos a fornecer a melhor experiência possível e as opções que você tem quando trata das suas configurações de cookies.</span>
                    </p>
                    <p>&nbsp;</p>
                    <h2><strong>1. O que são cookies e outras tecnologias semelhantes?</strong></h2>
                    <p><span>Cookies são arquivos de texto que são baixados no seu dispositivo quando você visita um site. Eles são úteis porque permitem que um site reconheça o dispositivo de um usuário. Você pode encontrar mais informações sobre os cookies em: </span><a
                            href="http://www.allaboutcookies.org" target="_blank"
                            rel="noopener">www.allaboutcookies.org</a><span>&nbsp;ou </span><a
                            href="https://www.youronlinechoices.eu" target="_blank" rel="noopener">www.youronlinechoices.eu</a><span>.</span>
                    </p>
                    <p><span>O termo cookie na realidade descreve uma variedade de tecnologias, incluindo:</span></p>
                    <ul>
                        <li><span>Tags de pixel (imagens gráficas transparentes colocadas em uma página da web ou em um email, indicando que uma página ou email foi visualizado),</span>
                        </li>
                        <li><span>identificadores de dispositivos móveis e</span></li>
                        <li><span>armazenamento na web usado em software de desktop ou dispositivos móveis.</span></li>
                    </ul>
                    <p><span>Usaremos o termo cookie ao longo desta política para abranger todas essas tecnologias, mas forneceremos a você detalhes claros sobre todas elas, para que você possa fazer escolhas conscientes sobre suas configurações de cookies.</span>
                    </p>
                    <p><span>Os cookies realizam vários trabalhos diferentes, como permitir que você navegue entre as páginas com eficiência, lembrando suas preferências e geralmente melhorando sua experiência do usuário. Eles também podem ajudar a garantir que os anúncios que você vê online sejam mais relevantes para você e seus interesses.</span>
                    </p>
                    <p><span>Existem algumas categorias diferentes de cookies, incluindo:</span></p>
                    <p><em><span>Cookies de Sessão e Persistentes</span></em></p>
                    <ul>
                        <li><strong><em>Cookies de Sessão</em></strong><span> - são cookies que expiram quando você fecha seu navegador da web; e</span>
                        </li>
                        <li><strong><em>Cookies Persistentes</em></strong><span> - são cookies que permanecem no seu dispositivo por um determinado período ou até que você os exclua.</span>
                        </li>
                    </ul>
                    <p><em><span>Cookies Proprietários e de Terceiros</span></em></p>
                    <ul>
                        <li><strong><em>Cookies Proprietários</em></strong><span> - são cookies definidos pelo site que você está visitando naquele momento, seja por nós ou por terceiros a nosso pedido;</span>
                        </li>
                        <li><strong><em>Cookies de Terceiros</em></strong><span> - são cookies definidos por uma parte diferente da do site que você está visitando. Se você visitar o site do Help Musician ou usar o Serviço do Help Musician e outra parte definir um cookie nesse site, esse será um cookie de terceiros.</span>
                        </li>
                    </ul>
                    <p>
                        <span>Os cookies também diferem dependendo da finalidade para a qual são usados, incluindo:</span>
                    </p>
                    <table>
                        <tbody>
                        <tr>
                            <td class="wysiwyg-text-align-center"><strong>Tipo de Cookie</strong></td>
                            <td class="wysiwyg-text-align-center"><strong>Finalidade</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Cookies Estritamente Necessários</strong></td>
                            <td>
                                <p><span>Esses cookies são essenciais para permitir que você use os recursos de nossos serviços, como manter sua lista de reprodução. Sem estes cookies, os serviços solicitados, por exemplo, faturamento eletrônico, não podem ser fornecidos.</span>
                                </p>
                                <p><span>Em resumo, esses cookies ativam os serviços especificamente solicitados e possibilitam o uso de nossos serviços.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Cookies de Desempenho</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Esses cookies coletam informações sobre como os visitantes usam nossos serviços, por exemplo, quais páginas os visitantes acessam com mais frequência e se recebem mensagens de erro das páginas da web. Esses cookies coletam informações anônimas nas páginas visitadas. Todas as informações que esses cookies coletam são agregadas e, portanto, anônimas. São usadas apenas para melhorar o desempenho de nossos serviços.</span>
                                </p>
                                <p><span>As análises da Web que usam cookies para coletar dados e aprimorar o desempenho de um site se enquadram nessa categoria. Por exemplo, eles podem ser usados para testar projetos e garantir que uma aparência consistente seja mantida para o usuário. Esta categoria não inclui cookies usados para redes de publicidade direcionada/comportamental.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Cookies de Funcionalidade</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Esses cookies permitem que o site se lembre das escolhas que você faz (como nome de usuário, idioma ou região em que se encontra) e forneça recursos aprimorados e mais pessoais. Esses cookies também podem ser usados para lembrar as alterações feitas no tamanho do texto, fontes e outras partes das páginas da Web que você pode personalizar. As informações coletadas por esses cookies podem ser anônimas e não podem rastrear sua atividade de navegação em outros sites.</span>
                                </p>
                                <p>
                                    <span>Esses cookies lembram as escolhas que você faz para melhorar sua experiência.</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <h2><strong>2. Como o Help Musician usa cookies?</strong></h2>
                    <p><span>O Help Musician, ou nossos prestadores de serviços que atuam em nosso nome, usam os tipos de cookies identificados na Seção 1, acima, das seguintes maneiras:</span>
                    </p>
                    <table>
                        <tbody>
                        <tr>
                            <td class="wysiwyg-text-align-center"><strong>Tipos de Cookies</strong></td>
                            <td class="wysiwyg-text-align-center"><strong>Finalidade</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Estritamente Necessário</strong></td>
                            <td><span>Esses cookies são necessários para permitir a operação do Serviço do Help Musician, conforme você solicitou. Por exemplo, eles nos permitem reconhecer que tipo de assinante você é e fornecer os serviços de acordo.</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Desempenho/Análise</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Utilizamos cookies e outras tecnologias semelhantes para analisar como o Serviço do Help Musician é acessado, usado ou está executando. Usamos essas informações para manter, operar e melhorar continuamente o Serviço do Help Musician. Também podemos obter informações em nossos boletins por e-mail ou outras comunicações que enviamos a você, incluindo se você abriu ou encaminhou um boletim ou clicou em qualquer um de seus conteúdos. Essas informações nos dizem sobre a eficácia de nossos boletins e ajudam a garantir que estejamos fornecendo informações que você acha interessantes.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Funcional</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Esses cookies permitem operar o Serviço do Help Musician de acordo com suas preferências. Por exemplo, quando você continuar usando ou voltar ao Serviço do Help Musician, podemos fornecer nossos serviços com base nas informações que você nos fornece, como lembrar seu nome de usuário, como você personalizou nossos serviços e lembrá-lo das configurações necessárias que você configurou anteriormente.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Terceiros</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Podemos permitir que nossos Parceiros de Negócios usem cookies ou outras tecnologias semelhantes dentro ou fora do Serviço do Help Musician para os mesmos fins identificados acima, incluindo a coleta de informações sobre suas atividades online ao longo do tempo e em diferentes sites, aplicativos e/ou dispositivos.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Anúncios do Help Musician</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Trabalhamos com editores de sites, desenvolvedores de aplicativos, redes de publicidade e provedores de serviços para fornecer anúncios e outros conteúdos que promovam o Help Musician em outros sites e serviços. Cookies e outras tecnologias semelhantes podem ser usadas para veicular anúncios relevantes para você e seus interesses em outros sites, aplicativos e dispositivos, e para regular os anúncios que você recebe e medir sua eficácia.</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h2>&nbsp;</h2>
                    <h2><strong>3. Como gerenciar suas preferências de cookies</strong></h2>
                    <h3><strong>Cookies do navegador</strong></h3>
                    <p><span>Você pode retirar ou modificar seu consentimento para o uso de cookies a qualquer momento. Se você não deseja mais receber cookies, pode usar as configurações do navegador para aceitar, recusar e excluir cookies. Para fazer isso, siga as instruções fornecidas pelo seu navegador (geralmente localizadas nas configurações de "Ajuda", "Ferramentas" ou "Editar").</span>
                    </p>
                    <p><span>Observe que, se você configurar seu navegador para recusar cookies, poderá não conseguir usar todos os recursos do site do Help Musician. Para descobrir mais informações, você pode visitar&nbsp;</span><a
                            href="http://www.allaboutcookies.org" target="_blank"
                            rel="noopener">www.allaboutcookies.org</a><span>.</span></p>
                    <h4><strong>Identificadores de dispositivos móveis</strong></h4>
                    <p><span>No seu dispositivo móvel, seu sistema operacional pode fornecer opções adicionais para desativar a publicidade com base em interesses ou redefinir seus identificadores para dispositivos móveis. Por exemplo, você pode usar a configuração "Limitar o rastreamento de anúncios" (em dispositivos iOS) ou a opção "Optar por não receber anúncios com base em interesses" (no Android), o que permite limitar o uso de informações sobre o uso de aplicativos para fins de veiculação de anúncios segmentados para seus interesses.</span>
                    </p>
                    <p>&nbsp;</p>
                    <h2><strong>4. Atualizações desta Política</strong></h2>
                    <p><span>Ocasionalmente, podemos fazer alterações a esta política.</span></p>
                    <p><span>Quando fizermos alterações importantes nesta Política, forneceremos um aviso proeminente, por exemplo, exibindo um aviso no Serviço do Help Musician ou enviando um e-mail a você. Podemos notificá-lo com antecedência.</span>
                    </p>
                    <p><span>Se você quiser saber mais sobre esta Política de Cookies e como o Help Musician usa seus dados pessoais, visite a aba de Contato para saber mais.</span>
                    </p>
                    <p><span>&nbsp;</span></p>
                    <h2><strong>5. Parceiros</strong></h2>
                    <p><span>Abaixo está uma lista das empresas que colocam cookies e usam tecnologias semelhantes no Serviço do Help Musician para fornecer serviços ao Help Musician. Essas empresas podem mudar e atualizaremos esta lista periodicamente, mas nem sempre ela será uma lista totalmente atualizada. Como essas empresas podem compartilhar as informações que coletam no Serviço do Help Musician com outros terceiros, esses terceiros também podem definir cookies no Serviço do Help Musician.</span>
                    </p>
                    <p><span>Google - https://www.google.com/</span></p>
                    <p><span>Hotjar - https://www.hotjar.com/</span></p>
                    <p><span>Facebook - https://www.facebook.com</span></p>
                    <p><span>Zendesk - https://www.zendesk.com</span></p>
                    <h2>&nbsp;</h2>
                    <h2><strong>6. Como entrar em contato conosco</strong></h2>
                    <p><span>Obrigado por ler nossa Política de Cookies. Se você tiver alguma dúvida sobre esta Política de Cookies, entre em contato com nosso Diretor de proteção de dados usando o formulário "Entre em contato" na aba de Contato.</span>
                    </p>
                    <p><span>Esperamos que você goste do Help Musician!</span></p></div>
            </div>
        </div>
        </div>
        </div>
    </section>

{% endblock %}
