{% extends 'base_site.html' %}
{% load static %}
{% block content %}
    <section class="page-section bg-black">
        <div class="container">
            <h1 class="text-uppercase mb-0 text-center text-white">Política de Privacidade</h1>
            <hr class="primary small mb-4">
        </div>
    </section>
    <!-- * * * * * * * * * * * * * *-->
    <!-- * Terms *-->
    <!-- * * * * * * * * * * * * * *-->
    <section class="page-section bg-light" id="info">
        <div class="container-fluid">
            <p class="lead">Em vigor a partir de 06 de abril de 2022</p>
            <hr class="primary small mb-5">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <h2><strong>1. Introdução</strong></h2>
                    <p><span>Obrigado por escolher o Help Musician!</span></p>
                    <p><span>No Help Musician, queremos te oferecer a melhor experiência possível para garantir que você aproveite nosso serviço. Para isso, precisamos entender seus hábitos para oferecer um serviço excepcional e personalizado especificamente para você. Sua privacidade e a segurança de seus dados pessoais são e sempre serão extremamente importantes para nós. Portanto, queremos explicar de maneira transparente como e por que reunimos, armazenamos, compartilhamos e usamos seus dados pessoais - além de descrever os controles e as opções que você tem quando e como escolhe compartilhar seus dados pessoais.</span>
                    </p>
                    <p><span>Esse é o nosso objetivo, e esta Política de Privacidade (“Política”) explicará abaixo exatamente o que queremos dizer com mais detalhes.</span>
                    </p>
                    <p>&nbsp;</p>
                    <h2><strong>2. Sobre essa Política</strong></h2>
                    <p><span>Esta Política define os detalhes essenciais relacionados ao seus dados pessoais com a Help Musician Systems Inc. A Política se aplica a todos os serviços do Help Musician e quaisquer serviços associados (referidos como 'Serviço do Help Musician'). Os termos que regem o uso do Serviço do Help Musician estão definidos em nossos "Termos e Condições de Uso".</span>
                    </p>
                    <p><span>Periodicamente, podemos desenvolver novos ou oferecer serviços adicionais. Se a introdução desses serviços novos ou adicionais resultar em alguma alteração material na maneira como coletamos ou processamos seus dados pessoais, forneceremos mais informações, termos ou políticas adicionais. Salvo indicação em contrário, quando apresentarmos esses serviços novos ou adicionais, eles estarão sujeitos a esta Política.</span>
                    </p>
                    <p><span>O objetivo desta política é:&nbsp;</span></p>
                    <ol>
                        <li><span>Certificar-se que você entenda quais dados pessoais coletamos sobre você, os motivos pelos quais os coletamos e os usamos e com quem os compartilhamos;</span>
                        </li>
                        <li><span>Explicar como usamos os dados pessoais que você compartilha conosco para oferecer uma ótima experiência ao usar o serviço do Help Musician; e</span>
                        </li>
                        <li><span>Explicar seus direitos e escolhas em relação aos dados pessoais que coletamos e processamos sobre você e como protegeremos sua privacidade.</span>
                        </li>
                    </ol>
                    <p><span>Esperamos que isso ajude você a entender nosso compromisso de privacidade com você. Para mais esclarecimentos sobre os termos usados nesta Política, visite nossa Central de Ajuda. Para obter informações sobre como entrar em contato conosco caso você tenha alguma dúvida ou preocupação, acesse a aba de Contato. No entanto, se você não concordar com o conteúdo desta Política, lembre-se de que é sua escolha se deseja usar ou não o Serviço do Help Musician.</span>
                    </p>
                    <p><span>&nbsp;</span></p>
                    <h2><strong>3. Seus direitos e suas preferências: Garantimos opções de escolha e controle</strong>
                    </h2>
                    <p><span>A Lei Geral de Proteção de Dados (LGPD) confere alguns direitos aos indivíduos em relação aos seus dados pessoais. Dessa forma, oferecemos transparência e controles de acesso para ajudar os usuários a tirar proveito desses direitos. Conforme disponível e exceto pela lei aplicável, os direitos concedidos aos indivíduos são:</span>
                    </p>
                    <ul>
                        <li><span>Direito de acesso - o direito de ser informado e solicitar acesso aos dados pessoais que processamos sobre você;</span>
                        </li>
                        <li><span>Direito de retificação - o direito de solicitar que alteremos ou atualizemos seus dados pessoais quando eles forem imprecisos ou incompletos;</span>
                        </li>
                        <li><span>Direito de apagar - o direito de solicitar que excluamos seus dados pessoais;</span>
                        </li>
                        <li><span>Direito de restrição - o direito de solicitar que paremos temporariamente ou permanentemente o processamento de todos ou alguns dos seus dados pessoais;</span>
                        </li>
                        <li><span>Direito de oposição -</span></li>
                        <ul>
                            <li><span>o direito, a qualquer momento, de se opor ao processamento de seus dados pessoais com base em sua situação particular específica;</span>
                            </li>
                            <li><span>o direito de contestar que seus dados pessoais sejam processados para fins de marketing direto;</span>
                            </li>
                        </ul>
                        <li><span>Direito à portabilidade de dados - o direito de solicitar uma cópia de seus dados pessoais em formato eletrônico e o direito de transmitir esses dados pessoais para uso no serviço de terceiros; e</span>
                        </li>
                        <li><span>Direito de não estar sujeito à tomada de decisão automatizada - o direito de não estar sujeito a uma decisão baseada apenas na tomada de decisão automatizada, incluindo à criação de perfil, em que a decisão teria um efeito legal sobre você ou produziria um efeito igualmente significativo.</span>
                        </li>
                    </ul>
                    <p><span>Para permitir que você aprenda mais sobre esses direitos, exercite-os com facilidade e registre suas preferências em relação à forma como o Help Musician usa seus dados pessoais, fornecemos os seguintes recursos:</span>
                    </p>
                    <ul>
                        <li><strong>Painel</strong><span> (acessado através da página da sua conta) - permite que você escolha opções sobre o processamento de determinados dados pessoais, além de um recurso automatizado de download e exclusão de arquivos.</span>
                        </li>
                        <li><strong>Configurações de notificação</strong><span> (acessadas através da página da sua conta) - permite escolher quais comunicações de marketing você recebe do Help Musician. Você pode alternar essas configurações para ativar ou desativar o recebimento de diferentes tipos de email e notificações por push. Observe que os e-mails marketing do Help Musician incluem um mecanismo de exclusão na própria mensagem (por exemplo, um link de cancelamento de inscrição nos e-mails que enviamos para você). Você pode usar a página de Configurações de notificação para escolher sobre todas as categorias de email e enviar a comunicação de marketing.</span>
                        </li>
                        <li><strong>Política de Cookies </strong><span>- fornece mais informações sobre como usamos cookies, inclusive para publicidade baseada em interesses. Você também encontrará informações sobre como gerenciar suas preferências de cookies e desativar determinados tipos de rastreamento; e</span>
                        </li>
                        <li><strong>Recursos de suporte ao cliente</strong><span> - Temos diversas páginas de suporte ao cliente em nosso site, que fornecem mais orientações sobre questões de proteção de dados.</span>
                        </li>
                    </ul>
                    <p><span>Se você tiver alguma dúvida sobre sua privacidade, seus direitos ou sobre como exercê-los, entre em contato com nosso Diretor de proteção de dados usando o formulário "Entre em contato" na aba de Contato. Se você tiver alguma preocupação sobre o nosso processamento dos seus dados pessoais, esperamos que você continue trabalhando conosco para juntos resolvê-los. No entanto, você também pode entrar em contato e tem o direito de apresentar uma reclamação junto à Autoridade de Proteção de Dados local.</span>
                    </p>
                    <p>&nbsp;</p>
                    <h2><strong>4. Dados pessoais que nós coletamos de você</strong></h2>
                    <p><span>Estabelecemos nas tabelas abaixo as categorias de dados pessoais sobre você que coletamos e usamos e como os coletamos:</span>
                    </p>
                    <p><strong><em>A tabela abaixo descreve os dados pessoais coletados quando você se inscreve no
                        Serviço do Help Musician</em></strong><span>:</span></p>
                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Categorias de dados pessoais</strong></td>
                            <td class="wysiwyg-text-align-center"><strong>Descrição da categoria</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Dados do Usuário</strong></td>
                            <td>
                                <p><span>Esses são os dados pessoais fornecidos por você ou coletados por nós para permitir a inscrição e o uso do Serviço do Help Musician. Dependendo do tipo de plano no qual você se inscreveu, isso pode incluir seu nome de usuário, endereço de e-mail, número de telefone, data de nascimento, sexo, endereço e país.</span>
                                </p>
                                <p><span>Alguns dos dados pessoais que solicitaremos que você forneça são necessários para criar sua conta. Você também tem a opção de nos fornecer dados pessoais adicionais para tornar sua conta mais personalizada.</span>
                                </p>
                                <p><span>Os dados pessoais exatos que coletaremos dependem do tipo de plano do Help Musician para o qual você se inscreveu, como você cria uma conta e se usa serviços de terceiros (como Facebook, Twitter, Google) para se inscrever e usar o serviços do Help Musician. Se você usar um serviço de terceiros para criar uma conta, receberemos dados pessoais por meio desse serviço de terceiros, mas somente quando você tiver consentido com o serviço de terceiros que compartilha seus dados pessoais conosco. Observe que os planos e opções de inscrição disponíveis podem ser diferentes em cada país.</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p><strong><em>A tabela abaixo descreve os dados pessoais coletados através do uso no serviço do
                        Help Musician:</em></strong></p>
                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Categorias de dados pessoais</strong></td>
                            <td class="wysiwyg-text-align-center"><strong>Descrição da categoria</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Dados de uso</strong></td>
                            <td>
                                <p><span>Esses são os dados pessoais coletados sobre você quando você acessa e/ou usa o Serviço do Help Musician, incluindo:</span>
                                </p>
                                <ul>
                                    <li><span>Informação sobre o seu tipo de plano de serviço do Help Musician</span>
                                    </li>
                                    <li><span>Informação sobre suas interações com o serviço do Help Musician, como suas consultas de pesquisa (incluindo a data e hora de quaisquer solicitações que você fizer), histórico de upload, arquivos processados, sua biblioteca, seu histórico de navegação e suas interações com o Serviço do Help Musician, conteúdo e outros usuários do Help Musician. Isso também pode incluir detalhes sobre o uso de aplicativos de terceiros em conexão com o Serviço do Help Musician.</span>
                                    </li>
                                    <li><span>Inferências elaboradas sobre seus interesses e preferências com base no uso do Serviço do Help Musician.</span>
                                    </li>
                                    <li><span>Conteúdo do usuário (conforme definido nos Termos e Condições de Uso) que você publica no Help Musician, como interações com a equipe de Atendimento ao Cliente do Help Musician. Observe que somente acessaremos seus arquivos a partir do seu dispositivo se você nos der permissão, e somente acessaremos os arquivos de mídia que você escolher especificamente para enviar ao serviço e os metadados relacionados a esses arquivos, como o tipo de arquivo e o tamanho do arquivo de mídia.</span>
                                    </li>
                                    <li><span>Certos dados técnicos, que podem incluir:</span></li>
                                    <ul>
                                        <li><span>Informação de URL;</span></li>
                                        <li>
                                            <span>identificadores online, incluindo dados de cookies e endereços IP;</span>
                                        </li>
                                        <li><span>informações sobre os tipos de dispositivos que você está usando, como IDs exclusivos de dispositivos, tipo de conexão de rede (por exemplo, Wi-Fi, 3G, LTE, Bluetooth), desempenho do provedor, rede e dispositivo, tipo de navegador, idioma, informações que habilitam o gerenciamento de direitos digitais, sistema operacional, e versão do aplicativo Help Musician;</span>
                                        </li>
                                        <li><span>atributos de dispositivos de sua rede wifi disponíveis para conexão com o Serviço do Help Musician (como alto-falantes);</span>
                                        </li>
                                        <li><span>sua localização imprecisa, que pode ser derivada ou inferida de determinados dados técnicos (por exemplo, seu endereço IP, configuração de idioma do seu dispositivo ou moeda de pagamento), para cumprir com os requisitos geográficos em nossos contratos de licenciamento e fornecer conteúdo e publicidade personalizados para você;</span>
                                        </li>
                                    </ul>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p><strong><em>A tabela abaixo descreve dados os pessoais que você escolhe nos fornecer, que nos
                        permitem fornecer recursos/funcionalidades adicionais:</em></strong></p>
                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Categorias de dados pessoais</strong></td>
                            <td class="wysiwyg-text-align-center"><strong>Descrição da categoria</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Dados de pagamento e compra</strong></td>
                            <td>
                                <p><span>Podemos coletar certos dados pessoais se você se inscrever em uma Avaliação ou adquirir alguma de nossas Assinaturas Pagas (conforme definido nos Termos e Condições de Uso) ou fizer outras compras através do Serviço do Help Musician. Os dados pessoais exatos coletados variarão de acordo com o método de pagamento (por exemplo, direto via operadora de celular ou por fatura), mas incluirão informações como:</span>
                                </p>
                                <ul>
                                    <li><span>Nome</span></li>
                                    <li><span>Data de nascimento;</span></li>
                                    <li><span>Tipo de cartão de crédito ou débito, data de validade e alguns dígitos do número do seu cartão;</span>
                                    </li>
                                    <li><span>Código postal;</span></li>
                                    <li><span>Número de celular; e</span></li>
                                    <li><span>Detalhes do seu histórico de compras e pagamentos.</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Dados de Concursos, Pesquisas e&nbsp; Sorteios</strong></td>
                            <td>
                                <p>&nbsp;</p>
                                <p><span>Ao preencher qualquer formulário, responder a uma pesquisa ou questionário, ou participar de um concurso, nós coletamos os dados pessoais que você fornece.</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p><strong><em>A tabela abaixo descreve os dados pessoais coletados de fontes de
                        terceiros</em></strong></p>
                    <p><strong><em><span>Coletamos dados pessoais sobre você de vários terceiros. Essas fontes de terceiros variam ao longo do tempo e incluem o seguinte:</span></em></strong>
                    </p>
                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Categorias de fontes de terceiros</strong></td>
                            <td><strong>Descrição da categoria</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Parceiros de autenticação</strong></td>
                            <td>
                                <p><span>Se você se registrar ou fazer login em nossos serviços usando credenciais de terceiros (por exemplo, Facebook, Google, Apple, Twitter), importaremos suas informações desses terceiros para ajudar a criar sua conta conosco.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Parceiros de serviços técnicos</strong></td>
                            <td>
                                <p><span>Trabalhamos com parceiros de serviços técnicos que nos fornecem certos dados, como o mapeamento de endereços IP para dados de localização imprecisos (por exemplo, cidade, estado), para nos permitir fornecer o serviço, conteúdo e os recursos do Help Musician.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Parceiros de pagamento</strong></td>
                            <td>
                                <p><span>Se você optar por pagar por um serviço ou recurso por fatura, poderemos receber dados de nossos parceiros de pagamento para nos permitir enviar faturas, processar seu pagamento e fornecer o que você comprou.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Anunciantes e outros parceiros de publicidade</strong></td>
                            <td><span>Podemos obter certos dados sobre você, como ID de cookie, ID de dispositivo móvel ou endereço de e-mail e inferências sobre seus interesses e preferências de determinados anunciantes e parceiros de publicidade, que nos permitem exibir anúncios mais relevantes e medir sua eficácia.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <h2><strong>5. Para que fins usamos seus dados pessoais</strong></h2>
                    <p><span>Quando você usa ou interage com o Serviço do Help Musician, usamos uma variedade de tecnologias para processar os dados pessoais que coletamos sobre você por vários motivos. Apresentamos na tabela abaixo os motivos pelos quais processamos seus dados pessoais, as bases legais associadas em que confiamos para nos permitir legalmente processar seus dados pessoais e as categorias de dados pessoais usadas para esses fins:</span>
                    </p>
                    <table>
                        <tbody>
                        <tr>
                            <td class="wysiwyg-text-align-center"><strong>Descrição do motivo pelo qual o Help Musician
                                processa seus dados pessoais (“finalidade do processamento”)</strong></td>
                            <td class="wysiwyg-text-align-center"><strong>Base legal para fins do processamento</strong>
                            </td>
                            <td class="wysiwyg-text-align-center"><strong>Categorias de dados pessoais usadas pelo
                                Help Musician para fins do processamento</strong></td>
                        </tr>
                        <tr>
                            <td><span>Para fornecer e personalizar o Serviço do Help Musician.</span></td>
                            <td>
                                <ul>
                                    <li><span>Execução de um contrato</span></li>
                                    <li><span>Interesse legítimo</span></li>
                                    <li><span>Consentimento</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                    <li><span>Dados de verificação do plano</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Para entender, diagnosticar, solucionar e corrigir problemas com o Serviço do Help Musician.</span>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Execução de um contrato</span></li>
                                    <li><span>Interesse legítimo</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Avaliar e desenvolver novos recursos, tecnologias e melhorias nos Serviços do Help Musician.</span>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Interesse legítimo</span></li>
                                    <li><span>Consentimento</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Para fins de marketing, promoção e publicidade.</span></td>
                            <td>
                                <ul>
                                    <li><span>Interesse legítimo</span></li>
                                    <li><span>Consentimento</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Cumprir as obrigações legais e solicitações de aplicação da lei.</span></td>
                            <td>
                                <ul>
                                    <li><span>Cumprimento das obrigações legais</span></li>
                                    <li><span>Interesse legítimo</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                    <li><span>Dados de verificação do plano</span></li>
                                    <li><span>Dados de concursos, pesquisas e sorteios</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Cumprir obrigações contratuais com terceiros, por exemplo, contratos de licença e tomar as medidas apropriadas em relação a denúncias de violação de propriedade intelectual e conteúdo inapropriado.</span>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Interesse legítimo</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Estabelecer, exercer ou defender reivindicações legais.</span></td>
                            <td>
                                <ul>
                                    <li><span>Interesse legítimo</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                    <li><span>Dados de verificação do plano</span></li>
                                    <li><span>Dados de concursos, pesquisas e sorteios</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Realizar planejamento, relatórios e previsões de negócios.</span></td>
                            <td>
                                <ul>
                                    <li><span>Interesse legítimo</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Processar seu pagamento.</span></td>
                            <td>
                                <ul>
                                    <li><span>Execução de um contrato</span></li>
                                    <li><span>Cumprimento das obrigações legais</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Detectar fraudes, incluindo pagamentos fraudulentos e uso fraudulento do Serviço do Help Musician.</span>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Execução de um contrato</span></li>
                                    <li><span>Cumprimento das obrigações legais</span></li>
                                    <li><span>Interesse legítimo</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dados de uso</span></li>
                                    <li><span>Dados de pagamento e compra</span></li>
                                    <li><span>Dados de verificação do plano</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;Conduzir pesquisas, concursos, estudos e sorteios.</td>
                            <td>
                                <ul>
                                    <li><span>Execução de um contrato</span></li>
                                    <li><span>Interesse legítimo</span></li>
                                    <li><span>Consentimento</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li><span>Dados do usuário</span></li>
                                    <li><span>Dado de uso</span></li>
                                    <li><span>Dados de concursos, pesquisas e sorteios</span></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h2>&nbsp;</h2>
                    <h2><strong>6. Compartilhando seus dados pessoais</strong></h2>
                    <p><span>Estabelecemos as categorias de destinatários dos dados pessoais coletados ou gerados pelo uso do Serviço do Help Musician.</span>
                    </p>
                    <p><strong><em>Informação disponível publicamente</em></strong></p>
                    <p><span>Os seguintes dados pessoais estarão sempre disponíveis ao público no Serviço do Help Musician: seu nome e/ou nome de usuário, foto do perfil.</span>
                    </p>
                    <p><strong><em>Dados pessoais que você pode optar por compartilhar</em></strong></p>
                    <p><span>Os seguintes dados pessoais serão compartilhados apenas com as categorias de destinatários descritas na tabela abaixo se:</span>
                    </p>
                    <ul>
                        <li><span>você escolhe fazer uso de um recurso específico do Help Musician Service, onde o compartilhamento de dados pessoais específicos é necessário para o uso adequado do recurso do Serviço do Help Musician; ou</span>
                        </li>
                        <li><span>você nos concede sua permissão para compartilhar os dados pessoais, por exemplo, selecionando a configuração apropriada no Serviço do Help Musician ou autorizando o Help Musician por meio de um mecanismo de consentimento apresentado.</span>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Categorias dos&nbsp;</strong><strong>Destinatários</strong></td>
                            <td><strong>Motivo para compartilhar</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Aplicativos e dispositivos de terceiros que você conecta à sua conta do
                                Help Musician</strong></td>
                            <td>
                                <p><span>Se você conectar sua conta do Help Musician a um aplicativo e/ou dispositivo de terceiros, como plataformas e serviços de mídia social, áudio, televisão ou automotivo, o Help Musician compartilhará dados técnicos com o operador deste aplicativo de terceiros e/ou dispositivo para conectar sua conta do Help Musician e/ou facilitar a reprodução do Serviço do Help Musician. Com relação a determinados terceiros que podem solicitar ou exigir que compartilhemos suas informações com eles, sua permissão será solicitada antes de fornecermos seus dados a esses terceiros.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Comunidade de suporte</strong></td>
                            <td><span>Quando você se registrar para uma Conta de Suporte do Help Musician na Comunidade de Suporte do Help Musician, solicitaremos que você crie um nome de usuário específico para a Comunidade de Suporte do Help Musician. Isso será exibido publicamente a qualquer pessoa que acessar a Comunidade de Suporte do Help Musician, juntamente com todas as perguntas ou comentários que você publicar.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p><strong><em>Informações que podemos compartilhar</em></strong></p>
                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Categorias dos Destinatários</strong></td>
                            <td><strong>Motivo para compartilhar</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Provedores de serviço</strong></td>
                            <td>
                                <p><span>Trabalhamos com prestadores de serviços que trabalham em nosso nome, que podem precisar de acesso a determinados dados pessoais para fornecer seus serviços para nós. Essas empresas incluem as que contratamos para fornecer suporte ao cliente, operar a infraestrutura técnica necessária para prestar o Serviço do Help Musician, ajudar na proteção e segurança de nossos sistemas e serviços e ajudar a comercializar os produtos e serviços do Help Musician, bem como produtos de parceiros, serviços, eventos e promoções de marca compartilhada nas quais o Help Musician está envolvido.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Processadores de pagamento</strong></td>
                            <td>
                                <p><span>Compartilharemos seus dados pessoais com nossos processadores de pagamento, conforme necessário, para permitir que eles processem seus pagamentos e para fins antifraude.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Parceiros de publicidade</strong></td>
                            <td>
                                <p><span>Trabalhamos com parceiros de publicidade para nos permitir personalizar o conteúdo de publicidade que você pode receber no Serviço do Help Musician. Esses parceiros nos ajudam a fornecer anúncios e mensagens promocionais mais relevantes, que podem incluir publicidade baseada em interesses (também conhecida como publicidade comportamental on-line), publicidade contextual e publicidade genérica no Serviço do Help Musician. Nós e nossos parceiros de publicidade podemos processar determinados dados pessoais para ajudar o Help Musician a entender seus interesses ou preferências, para que possamos fornecer anúncios mais relevantes para você.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Outras empresas do grupo Help Musician</strong></td>
                            <td>
                                <p><span>Compartilharemos seus dados pessoais com outras empresas do grupo Help Musician para realizar nossas operações comerciais diárias e nos permitir manter e fornecer o Serviço do Help Musician para você.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Autoridades de aplicação da lei e de proteção de dados</strong></td>
                            <td>
                                <p><span>Compartilhamos os seus dados pessoais quando, em boa fé, acreditamos que é necessário fazê-lo para cumprir uma obrigação legal sob a legislação aplicável, ou responder a um processo legal válido, como um mandado de busca, ordem judicial ou intimação. Também compartilhamos os seus dados pessoais quando, em boa-fé, acreditamos que é necessário para efeitos do nosso próprio interesse legítimo ou do interesse legítimo de terceiros em relação à segurança nacional, observância da lei, litígio, investigação criminal, proteção da segurança de qualquer pessoa ou para evitar a morte ou danos físicos iminentes, desde que consideremos que esse interesse não seja anulado pelos seus interesses ou direitos e liberdades fundamentais que exijam a proteção dos seus dados pessoais.</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Compradores do nosso negócio</strong></td>
                            <td><span>Compartilharemos seus dados pessoais nos casos em que vendermos ou negociarmos para vender nossos negócios a um comprador ou potencial comprador. Nessa situação, o Help Musician continuará garantindo a confidencialidade de seus dados pessoais e a notificá-lo antes que seus dados pessoais sejam transferidos para o comprador ou estejam sujeitos a uma política de privacidade diferente.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h2>&nbsp;</h2>
                    <h2><strong>7. Retenção e exclusão de dados</strong></h2>
                    <p><span>Mantemos seus dados pessoais apenas pelo tempo necessário para fornecer o Serviço do Help Musician e para fins comerciais legítimos e essenciais, como manter o desempenho do Serviço do Help Musician, tomar decisões comerciais baseadas em dados sobre novos recursos e ofertas, em conformidade com nossas obrigações legais e resolução de disputas. Mantemos alguns de seus dados pessoais enquanto você for usuário do Serviço do Help Musician. Por exemplo, mantemos sua mídia, arquivos processados e informações da conta.</span>
                    </p>
                    <p><span>Se você solicitar, excluiremos ou deixaremos anônimos seus dados pessoais para que não mais o identifiquem, a menos que tenhamos permissão legal ou sejamos obrigados a manter determinados dados pessoais, incluindo situações como as seguintes:</span>
                    </p>
                    <ul>
                        <li><span>Se houver um problema não resolvido relacionado à sua conta, como um crédito pendente em sua conta ou uma reivindicação ou disputa não resolvida, reteremos os dados pessoais necessários até que o problema seja resolvido;</span>
                        </li>
                        <li><span>Onde for necessário reter os dados pessoais para nossas obrigações legais, fiscais, de auditoria e contábeis, reteremos os dados pessoais necessários pelo período exigido pela lei aplicável; e/ou</span>
                        </li>
                        <li><span>Sempre que necessário, para nossos interesses comerciais legítimos, como prevenção de fraudes ou para manter a segurança de nossos usuários.</span>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h2><span><strong>8. Transferência para outros países</strong></span></h2>
                    <p><span>Help Musician compartilha seus dados pessoais globalmente com as empresas do grupo Help Musician para realizar as atividades especificadas nesta Política. O Help Musician também pode subcontratar o processamento ou compartilhar seus dados pessoais com terceiros localizados em países que não o seu país. Seus dados pessoais, portanto, podem estar sujeitos a leis de privacidade diferentes das do seu país.</span>
                    </p>
                    <p><span>Os dados pessoais coletados na União Europeia e na Suíça podem, por exemplo, ser transferidos e processados por terceiros localizados em um país fora da União Europeia e da Suíça. Nesses casos, o Help Musician garantirá que a transferência de seus dados pessoais seja realizada de acordo com as leis de privacidade aplicáveis e, em particular, que medidas contratuais, técnicas e organizacionais adequadas estejam em vigor, como as Cláusulas Contratuais Padrão aprovadas pela Comissão da UE.</span>
                    </p>
                    <p>&nbsp;</p>
                    <h2><strong>9. Links</strong></h2>
                    <p><span>Podemos exibir anúncios de terceiros e outros conteúdos que contenham links para sites de terceiros. Não podemos controlar ou nos responsabilizar pelas práticas de privacidade e conteúdos de terceiros.</span><span> Se você clicar em um anúncio ou link de terceiros, entenda que está deixando o Serviço do Help Musician e que quaisquer dados pessoais que você fornecer não serão cobertos por esta Política. Leia as políticas de privacidade deles para descobrir como eles coletam e processam seus dados pessoais.</span>
                    </p>
                    <p>&nbsp;</p>
                    <h2><strong>10. Mantenha seus dados pessoais seguros</strong></h2>
                    <p><span>Temos o compromisso de proteger os dados pessoais de nossos usuários. Implementamos medidas técnicas e organizacionais apropriadas para ajudar a proteger a segurança de seus dados pessoais; no entanto, observe que nenhum sistema é completamente seguro. Implementamos várias políticas, incluindo políticas de pseudonimização, criptografia, acesso e retenção para evitar acesso não autorizado e retenção desnecessária de dados pessoais em nossos sistemas.</span>
                    </p>
                    <p><span>Sua senha protege sua conta de usuário, por isso, recomendamos que você use uma senha forte e exclusiva para sua conta do Help Musician, nunca compartilhe sua senha com ninguém, limite o acesso ao seu computador e navegador e efetue logout após usar o Serviço do Help Musician.</span>
                    </p>
                    <p><span><strong>&nbsp;</strong></span></p>
                    <h2><strong>11. Menores de idade</strong></h2>
                    <p><span>O Serviço do Help Musician não é direcionado pessoas com menos de 13 anos. O Serviço do Help Musician também não é oferecido a crianças cuja idade torna ilegal o processamento de seus dados pessoais ou requer o consentimento dos pais para o processamento de seus dados pessoais de acordo com o GDPR ou outra lei local.</span>
                    </p>
                    <p><span>Não coletamos intencionalmente dados pessoais de pessoas menores de 13 anos ou abaixo do limite de idade aplicável (o "Limite de Idade"). Se você estiver abaixo do limite de idade, não use o Serviço do Help Musician e não forneça nenhum dado pessoal para nós.</span>
                    </p>
                    <p><span>Se você é pai de uma criança abaixo do Limite de Idade e sabe que seu filho forneceu dados pessoais ao Help Musician, entre em contato conosco usando o formulário na aba de Contato.</span>
                    </p>
                    <p><span>Se descobrirmos que coletamos os dados pessoais de alguém com menos de 13 anos, tomaremos medidas razoáveis para excluir os dados pessoais. Isso pode exigir que excluamos a conta do Help Musician dessa pessoa.</span>
                    </p>
                    <p><span><strong>&nbsp;</strong></span></p>
                    <h2><strong>12. Alterações nesta Política</strong></h2>
                    <p><span>Ocasionalmente, poderemos fazer alterações a esta política.</span></p>
                    <p><span>Quando fizermos alterações relevantes nesta Política, você será devidamente avisado, conforme apropriado nas circunstâncias, por exemplo, exibindo um aviso importante no Serviço do Help Musician ou enviando um e-mail e/ou uma notificação para o dispositivo. Podemos notificá-lo com antecedência.</span>
                    </p>
                    <p><span>Portanto, certifique-se de ler atentamente qualquer aviso.</span></p>
                    <p><span>Se você quiser saber mais sobre esta Política e como o Help Musician usa seus dados pessoais, acesse a aba de Contato.</span>
                    </p>
                    <p><span><strong>&nbsp;</strong></span></p>
                    <h2><strong>13. Como entrar em contato conosco</strong></h2>
                    <p><span>Obrigado por ler nossa Política. Se você tiver alguma dúvida sobre essa Política, entre em contato com nosso Diretor de Proteção de Dados usando o formulário na aba de Contato.</span>
                    </p>
                    <p><span>Esperamos que você goste do Help Musician!</span></p></div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
